<header
  class="d-flex flex-wrap justify-content-center py-3 mb-4 bg-dark border-bottom sticky-top"
>
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-light text-decoration-none"
  >
    <!-- <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg> -->

    <img
      class="bg-light"
      width="50"
      height="50"
      src="assets/images/gender-equality.png"
    />
    <span class="fs-4" routerLink="/home">Gender Equality</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a
        routerLink="/home"
        class="nav-link text-light"
        aria-current="page"
        [class.active]="isActive('/home')"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a
        routerLink="/features"
        class="nav-link text-light"
        [class.active]="isActive('/features')"
        >Features</a
      >
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-light">Donate</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-light">FAQs</a>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-primary" routerLink="/login">
        Login
      </button>
    </li>
  </ul>
</header>
