<!-- <header
  class="d-flex flex-wrap justify-content-center py-3 mb-4 bg-dark border-bottom sticky-top"
>
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-light text-decoration-none"
  > -->
<!-- <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg> -->

<!-- <img
      class="bg-light"
      width="50"
      height="50"
      src="assets/images/gender-equality.png"
    />
    <span class="fs-4" routerLink="/home">Gender Equality</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a
        routerLink="/home"
        class="nav-link text-light"
        aria-current="page"
                       <li class="active">
   [class.active]="isActive('/home')"
        >Home</a
      >
    </li>
    <li class="nav-item">
                       <li class="active">
 <a
        routerLink="/features"
        class="nav-link text-light"
        [class.active]="isActive('/features')"
        >Features</a
      >
    </li>
    <li class="nav-item">
      <a
        routerLink="/donate"
        class="nav-link text-light"
        [class.active]="isActive('/donate')"
        >Donate</a
      >
    </li>
    <li class="nav-item">
      <a
        routerLink="/news"
        class="nav-link text-light"
        [class.active]="isActive('/news')"
        >News</a
      >
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-primary" routerLink="/login">
        Login
      </button>
    </li>
  </ul>
</header> -->

<!-- New Header -->

<header>
  <div class="header-area">
    <div class="header-top bg-them">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <span class="ht-header-msg"
              ><i class="fa fa-envelope"></i>yourinfo@example.com</span
            >
            <span class="ht-header-msg"
              ><i class="fa fa-phone"></i>+11 222 3333</span
            >
          </div>
          <div class="col-md-6">
            <div class="social-media float-end">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="navbar" class="mainmenu-area header-sticky bg-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="logo">
            <img
              class="logo-size"
              src="assets/images/gender-equality.png"
              alt="LOGO"
            />
            <span>Gender-equality</span>
          </div>
        </div>
        <div class="col-lg-9 col-md-8 d-md-block">
          <div class="h-100 menu-container">
            <div class="h-100 main-menu menu-menu">
              <nav
                class="h-100 d-flex justify-content-center align-items-center"
              >
                <ul>
                  <li [class.active]="isActive('/home')">
                    <a routerLink="/home">Home</a>
                  </li>
                  <li [class.active]="isActive('/event')">
                    <a routerLink="/event">Event</a>
                  </li>
                  <li [class.active]="isActive('/news')">
                    <a href="cause.html">News</a>
                  </li>
                  <li [class.active]="isActive('/gallery')">
                    <a routerLink="/gallery">Gallery</a>
                  </li>
                  <li [class.active]="isActive('/blog')">
                    <a href="blog.html">Blog</a>
                  </li>
                  <li [class.active]="isActive('/pages')">
                    <a href="#">Pages</a>
                  </li>
                  <li [class.active]="isActive('/contact')">
                    <a class="active" routerLink="/contact">Contact</a>
                  </li>

                  <li>
                    <a routerLink="/login" class="default-btn">Login</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
