<div
  class="alert alert-danger"
  role="alert"
  *ngIf="
    loginForm.get('email')?.hasError('required') &&
    loginForm.get('email')?.touched
  "
>
  Email is empty
</div>

<div
  class="alert alert-danger"
  role="alert"
  *ngIf="
    loginForm.get('password')?.hasError('required') &&
    loginForm.get('password')?.touched
  "
>
  password is empty
</div>

<div class="wrapper">
  <h2>Login</h2>
  <form [formGroup]="loginForm">
    <!-- <input
        type="text"
        [placeholder]="
          loginForm.get('email')?.hasError('required') &&
          loginForm.get('email')?.touched
            ? 'Email is required'
            : 'Enter Your Email'
        "
        formControlName="email"
        [class.validate-message]="
          loginForm.get('email')?.getError('required') &&
          loginForm.get('email')?.touched
        "
        required
      /> -->

    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="abc@xyz.com"
      />
      <label for="floatingInput">Email</label>
    </div>

    <!-- <input
        type="password"
        [placeholder]="
          loginForm.get('password')?.hasError('required') &&
          loginForm.get('password')?.touched
            ? 'Password is required'
            : 'Enter Password'
        "
        formControlName="password"
        [class.validate-message]="
          loginForm.get('password')?.hasError('required') &&
          loginForm.get('password')?.touched
        "
      /> -->
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
    </div>
    <!-- <div class="policy">
      <input type="checkbox" />
      <h3>I accept all terms & condition</h3>
    </div> -->
    <div class="input-box button">
      <input type="Submit" value="Login" />
    </div>
    <div class="text">
      <h3>Don't have an account? <a routerLink="/register">Register now</a></h3>
    </div>
  </form>
</div>
