<div class="banner-area bg-4">
  <div class="container">
    <div class="breadcrumb-text">
      <h2>Contact Us</h2>
      <div class="breadcrumb-bar">
        <ul class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li>Contact Us</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="contact-area pt-120 pt-sm-60">
  <div class="container">
    <div class="row pb-5 mb-5">
      <div class="col ml-auto">
        <div class="contact-form-wrapper fix">
          <h3 class="sub-title">Send Your Message</h3>

          <form>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                placeholder="Full Name"
              />
              <label for="floatingPassword">Full Name</label>
            </div>

            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="floatingInput"
                placeholder="abc@xyz.com"
              />
              <label for="floatingInput">Email</label>
            </div>

            <div class="form-floating mb-3">
              <textarea
                class="form-control"
                id="floatingInput"
                style="height: 100px"
                placeholder="Message"
                rows="5"
              ></textarea>
              <label for="floatingInput">Message</label>
            </div>
            <div class="banner-btn">
              <a class="default-btn" href="https://goo.gl/HtFL2a">Submit</a>
            </div>
          </form>
        </div>
      </div>
      <div class="col contact-information">
        <h3 class="sub-title">Contact Info</h3>
        <p>
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at ilayout. The point of using
          Lorem.It is a long established fact that a reader will be distracted
          by the readable content
        </p>
        <span class="ht-c-info"
          ><span>Address:</span> House 09, Road 3, Italy</span
        >
        <span class="ht-c-info"><span>Email:</span> infoall@example.com</span>
        <span class="ht-c-info"><span>Phone:</span> +11 222 3333</span>
        <div class="c-links">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-pinterest"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="google-map-area pt-105 pt-sm-60">
    <!--  Map Section -->
    <div id="contacts" class="map-area">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7822.881999853284!2d72.53813296323979!3d23.102775728511233!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e82e76893cd85%3A0xd302251c8dc381c6!2sGota%2C%20Ahmedabad%2C%20Gujarat%20382481!5e0!3m2!1sen!2sin!4v1697201943067!5m2!1sen!2sin"
        id="gmap_canvas"
        style="width: 100%; height: 445px"
        loading="lazy"
      ></iframe>
    </div>
  </div>
</div>
