<div class="banner-area bg-4">
  <div class="container">
    <div class="breadcrumb-text">
      <h2>Gallery</h2>
      <div class="breadcrumb-bar">
        <ul class="breadcrumb">
          <li><a routerLink="/home">Home</a></li>
          <li>Gallery</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="gallery-page pt-115 pb-120 ptb-sm-60 gallery-section">
  <div class="container">
    <div class="section-title text-center">
      <h1>Our Gallery</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiu</p>
    </div>
    <div class="gallery-lsit fix">
      <!-- Gallery Item Start -->
      <div class="gallery-img">
        <a class="img-popup" href="img/gallery/1.jpg">
          <img
            src="https://htmldemo.net/jibon/jibon/img/gallery/1.jpg"
            alt=""
          />
        </a>
      </div>
      <!-- Gallery Item End -->
      <!-- Gallery Item Start -->
      <div class="gallery-img">
        <a class="img-popup" href="img/gallery/2.jpg">
          <img
            src="https://htmldemo.net/jibon/jibon/img/gallery/2.jpg"
            alt=""
          />
        </a>
      </div>
      <!-- Gallery Item End -->
      <!-- Gallery Item Start -->
      <div class="gallery-img">
        <a class="img-popup" href="img/gallery/3.jpg">
          <img
            src="https://htmldemo.net/jibon/jibon/img/gallery/3.jpg"
            alt=""
          />
        </a>
      </div>
      <!-- Gallery Item End -->
      <!-- Gallery Item Start -->
      <div class="gallery-img">
        <a class="img-popup" href="img/gallery/4.jpg">
          <img
            src="https://htmldemo.net/jibon/jibon/img/gallery/4.jpg"
            alt=""
          />
        </a>
      </div>
      <!-- Gallery Item End -->
      <!-- Gallery Item Start -->
      <div class="gallery-img">
        <a class="img-popup" href="img/gallery/5.jpg">
          <img
            src="https://htmldemo.net/jibon/jibon/img/gallery/5.jpg"
            alt=""
          />
        </a>
      </div>
      <!-- Gallery Item End -->
      <!-- Gallery Item Start -->
      <div class="gallery-img">
        <a class="img-popup" href="img/gallery/6.jpg">
          <img
            src="https://htmldemo.net/jibon/jibon/img/gallery/6.jpg"
            alt=""
          />
        </a>
      </div>
      <!-- Gallery Item End -->
      <!-- Gallery Item Start -->
      <div class="gallery-img">
        <a class="img-popup" href="img/gallery/7.jpg">
          <img
            src="https://htmldemo.net/jibon/jibon/img/gallery/7.jpg"
            alt=""
          />
        </a>
      </div>
      <!-- Gallery Item End -->
      <!-- Gallery Item Start -->
      <div class="gallery-img">
        <a class="img-popup" href="img/gallery/8.jpg">
          <img
            src="https://htmldemo.net/jibon/jibon/img/gallery/8.jpg"
            alt=""
          />
        </a>
      </div>
      <!-- Gallery Item End -->
    </div>
  </div>
</div>
