.bg-4 {
  background-image: url("https://htmldemo.net/jibon/jibon/img/bg/4.jpg");
}
.bg-4 {
  background-image: url("https://htmldemo.net/jibon/jibon/img/bg/4.jpg");
}

.bg-1,
.bg-2,
.bg-3,
.bg-4,
.bg-5,
.bg-6 {
  background-attachment: scroll;
  background-clip: initial;
  background-color: rgba(0, 0, 0, 0);
  background-origin: initial;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.breadcrumb-text {
  padding: 150px 0 157px;
  z-index: 1;
}
.breadcrumb-text h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 6px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  padding: 0;

  color: #3e3e3e;
}
.breadcrumb-bar ul {
  background: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}
breadcrumb-bar li a,
.breadcrumb-bar li {
  color: #ffffff;
  font-size: 16px;
  position: relative;
}
breadcrumb-bar li a,
.breadcrumb-bar li {
  color: #ffffff;
  font-size: 16px;
  position: relative;
}
a,
button,
input {
  outline: medium none;
  color: #383838;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.breadcrumb-bar li + li {
  margin-left: 24px;
}

.breadcrumb-bar li a,
.breadcrumb-bar li {
  color: #ffffff;
  font-size: 16px;
  position: relative;
}

.pb-120 {
  padding-bottom: 120px;
}
.pt-115 {
  padding-top: 115px;
}
.section-title {
  margin-bottom: 57px;
}
.section-title h1 {
  color: #5d5c5c;
  font-size: 40px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: #3e3e3e;
}
.section-title > p {
  color: #444444;
  margin: 0;
}

p {
  font-size: 16px;
  line-height: 29px;
}
.gallery-lsit {
  margin: -10px;
}

.fix {
  overflow: hidden;
}
.gallery-img {
  float: left;
  padding: 10px;
  width: 25%;
  overflow: hidden;
}
.gallery-img a {
  display: block;
  overflow: hidden;
}
a,
button,
input {
  outline: medium none;
  color: #383838;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.gallery-img img,
.ht-blog-img img,
.ht-event-img img,
.ht-cause-img img {
  width: 100%;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
img {
  max-width: 100%;
}

.gallery-img :hover {
  transform: scale(1.1);
}
