<div class="banner-area bg-4">
  <div class="container">
    <div class="row">
      <div class="breadcrumb-text">
        <h2>Event</h2>
        <div class="breadcrumb-bar">
          <ul class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li>Event</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="event-page ptb-120 event-section ptb-sm-60">
  <div class="container">
    <div class="row">
      <!-- Single Item Start -->
      <div class="col-lg-4 col-md-6 col-12">
        <div class="ht-single-event">
          <div class="ht-event-img">
            <a href="event-details.html">
              <img
                src="https://htmldemo.net/jibon/jibon/img/event/1.jpg"
                alt=""
              />
              <span class="event-time">14 <span>Sep</span></span>
            </a>
          </div>
          <div class="ht-event-text">
            <h4>
              <a href="event-details.html"
                >Lorem ipsum dolor sit amet cons adi elit sed do eiusmod
              </a>
            </h4>
            <div class="ht-event-info">
              <span class="ht-s-event-info"
                ><i class="zmdi zmdi-time"></i>Started On: 11:00 am</span
              >
              <span class="ht-s-event-info"
                ><i class="zmdi zmdi-pin"></i> Congo. Africa</span
              >
            </div>
            <p>
              Lorem ipsum dolor sit amet consec adipisici elit sed do eiusmo
              tempor incididunt ut labo et dolore magna.
            </p>
          </div>
        </div>
      </div>
      <!-- Single Item End -->
      <!-- Single Item Start -->
      <div class="col-lg-4 col-md-6 col-12">
        <div class="ht-single-event">
          <div class="ht-event-img">
            <a href="event-details.html">
              <img
                src="https://htmldemo.net/jibon/jibon/img/event/2.jpg"
                alt=""
              />
              <span class="event-time">15 <span>Mar</span></span>
            </a>
          </div>
          <div class="ht-event-text">
            <h4>
              <a href="event-details.html"
                >Lorem ipsum dolor sit amet cons adi elit sed do eiusmod
              </a>
            </h4>
            <div class="ht-event-info">
              <span class="ht-s-event-info"
                ><i class="zmdi zmdi-time"></i>Started On: 11:00 am</span
              >
              <span class="ht-s-event-info"
                ><i class="zmdi zmdi-pin"></i>Congo. Africa</span
              >
            </div>
            <p>
              Lorem ipsum dolor sit amet consec adipisici elit sed do eiusmo
              tempor incididunt ut labo et dolore magna.
            </p>
          </div>
        </div>
      </div>
      <!-- Single Item End -->
      <!-- Single Item Start -->
      <div class="col-lg-4 col-md-6 col-12">
        <div class="ht-single-event">
          <div class="ht-event-img">
            <a href="event-details.html">
              <img
                src="https://htmldemo.net/jibon/jibon/img/event/3.jpg"
                alt=""
              />
              <span class="event-time">20 <span>May</span></span>
            </a>
          </div>
          <div class="ht-event-text">
            <h4>
              <a href="event-details.html"
                >Lorem ipsum dolor sit amet cons adi elit sed do eiusmod
              </a>
            </h4>
            <div class="ht-event-info">
              <span class="ht-s-event-info"
                ><i class="zmdi zmdi-time"></i>Started On: 11:00 am</span
              >
              <span class="ht-s-event-info"
                ><i class="zmdi zmdi-pin"></i>Congo. Africa</span
              >
            </div>
            <p>
              Lorem ipsum dolor sit amet consec adipisici elit sed do eiusmo
              tempor incididunt ut labo et dolore magna.
            </p>
          </div>
        </div>
      </div>
      <!-- Single Item End -->
      <!-- Single Item Start -->
      <div class="col-lg-4 col-md-6 col-12">
        <div class="ht-single-event">
          <div class="ht-event-img">
            <a href="event-details.html">
              <img
                src="https://htmldemo.net/jibon/jibon/img/event/4.jpg"
                alt=""
              />
              <span class="event-time">15 <span>Feb</span></span>
            </a>
          </div>
          <div class="ht-event-text">
            <h4>
              <a href="event-details.html"
                >Lorem ipsum dolor sit amet cons adi elit sed do eiusmod
              </a>
            </h4>
            <div class="ht-event-info">
              <span class="ht-s-event-info"
                ><i class="zmdi zmdi-time"></i>Started On: 11:00 am</span
              >
              <span class="ht-s-event-info"
                ><i class="zmdi zmdi-pin"></i>Congo. Africa</span
              >
            </div>
            <p>
              Lorem ipsum dolor sit amet consec adipisici elit sed do eiusmo
              tempor incididunt ut labo et dolore magna.
            </p>
          </div>
        </div>
      </div>
      <!-- Single Item End -->
      <!-- Single Item Start -->
      <div class="col-lg-4 col-md-6 col-12">
        <div class="ht-single-event">
          <div class="ht-event-img">
            <a href="event-details.html">
              <img
                src="https://htmldemo.net/jibon/jibon/img/event/5.jpg"
                alt=""
              />
              <span class="event-time">20 <span>Jan</span></span>
            </a>
          </div>
          <div class="ht-event-text">
            <h4>
              <a href="event-details.html"
                >Lorem ipsum dolor sit amet cons adi elit sed do eiusmod
              </a>
            </h4>
            <div class="ht-event-info">
              <span class="ht-s-event-info"
                ><i class="zmdi zmdi-time"></i>Started On: 11:00 am</span
              >
              <span class="ht-s-event-info"
                ><i class="zmdi zmdi-pin"></i>Congo. Africa</span
              >
            </div>
            <p>
              Lorem ipsum dolor sit amet consec adipisici elit sed do eiusmo
              tempor incididunt ut labo et dolore magna.
            </p>
          </div>
        </div>
      </div>
      <!-- Single Item End -->
      <!-- Single Item Start -->
      <div class="col-lg-4 col-md-6 col-12">
        <div class="ht-single-event">
          <div class="ht-event-img">
            <a href="event-details.html">
              <img
                src="https://htmldemo.net/jibon/jibon/img/event/6.jpg"
                alt=""
              />
              <span class="event-time">10 <span>Feb</span></span>
            </a>
          </div>
          <div class="ht-event-text">
            <h4>
              <a href="event-details.html"
                >Lorem ipsum dolor sit amet cons adi elit sed do eiusmod
              </a>
            </h4>
            <div class="ht-event-info">
              <span class="ht-s-event-info"
                ><i class="zmdi zmdi-time"></i>Started On: 11:00 am</span
              >
              <span class="ht-s-event-info"
                ><i class="zmdi zmdi-pin"></i>Congo. Africa</span
              >
            </div>
            <p>
              Lorem ipsum dolor sit amet consec adipisici elit sed do eiusmo
              tempor incididunt ut labo et dolore magna.
            </p>
          </div>
        </div>
      </div>
      <!-- Single Item End -->

      <div class="col-md-12 text-center">
        <div class="pagination-content">
          <ul class="pagination">
            <li>
              <a href="#"><i class="fa fa-angle-left"></i></a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li class="current">
              <a href="#"><i class="fa fa-angle-right"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
