<!-- <div class="wrapper">
  <h2>Donate</h2>

  <form [formGroup]="donationForm">
    <div class="input-box">
      <input
        type="text"
        [placeholder]="
          donationForm.get('firstName')?.hasError('required') &&
          donationForm.get('firstName')?.touched
            ? 'First Name is required'
            : 'First Name'
        "
        formControlName="firstName"
        [class.validate-message]="
          donationForm.get('firstName')?.getError('required') &&
          donationForm.get('firstName')?.touched
        "
        required
      />
    </div>
    <div class="input-box">
      <input
        type="text"
        [placeholder]="
          donationForm.get('lastName')?.hasError('required') &&
          donationForm.get('lastName')?.touched
            ? 'Last Name is required'
            : 'Last Name'
        "
        formControlName="lastName"
        [class.validate-message]="
          donationForm.get('lastName')?.hasError('required') &&
          donationForm.get('lastName')?.touched
        "
      />
    </div>
    <div class="policy">
      <input type="checkbox" />
      <h3>I accept all terms & condition</h3>
    </div>
    <div class="input-box button">
      <input type="Submit" value="Login" />
    </div>
    <div class="text">
      <h3>Don't have an account? <a routerLink="/register">Register now</a></h3>
    </div>
  </form>
</div> -->

<div class="banner-area bg-4">
  <div class="container">
    <div class="breadcrumb-text">
      <h2>Donate</h2>
      <div class="breadcrumb-bar">
        <ul class="breadcrumb">
          <li><a routerLink="/home">Home</a></li>
          <li>Donate</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="donate-area ptb-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia nam
        excepturi dolorum maxime quis veniam voluptatem ad pariatur? Atque
        exercitationem dolor quae ab minima commodi molestiae animi non nemo
        tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Praesentium delectus a numquam blanditiis doloremque recusandae quaerat
        amet rerum, enim quidem tempore sint voluptatibus voluptas nulla! Beatae
        magni deserunt minima odit.
      </div>
      <div class="col-lg-6">
        <form>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder="Full Name"
            />
            <label for="floatingPassword">Full Name</label>
          </div>

          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="abc@xyz.com"
            />
            <label for="floatingInput">Email</label>
          </div>
          <div class="form-floating mb-3">
            <textarea
              class="form-control"
              id="floatingInput"
              style="height: 100px"
              placeholder="Message"
              rows="5"
            ></textarea>
            <label for="floatingInput">Message</label>
          </div>
          <div class="banner-btn">
            <a class="default-btn" href="https://goo.gl/HtFL2a">Submit</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
