<div class="banner-area bg-4">
  <div class="container">
    <div class="breadcrumb-text">
      <h2>Donate</h2>
      <div class="breadcrumb-bar">
        <ul class="breadcrumb">
          <li><a routerLink="/home">Home</a></li>
          <li>Donate</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="donate-area ptb-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="sub-title">How You Can Donate.</h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia nam
        excepturi dolorum maxime quis veniam voluptatem ad pariatur? Atque
        exercitationem dolor quae ab minima commodi molestiae animi non nemo
        tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Praesentium delectus a numquam blanditiis doloremque recusandae quaerat
        amet rerum, enim quidem tempore sint voluptatibus voluptas nulla! Beatae
        magni deserunt minima odit.
      </div>
      <div class="col-lg-6">
        <div class="contact-form-wrapper fix">
          <h3 class="sub-title">Give Little Donation</h3>
          <form>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder="Full Name"
            />
            <label for="floatingInput">Full Name</label>
          </div>

          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="abc@xyz.com"
            />
            <label for="floatingInput">Email</label>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">₹</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-text">.00</span>
          </div>

          <div class="row">
            <div class="col-md-9">
                <div class="form-floating mb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="floatingInput"
                      placeholder="1234-4567-8976"
                    />
                    <label for="floatingInput">Card Number</label>
                </div>
            </div>
            <div class="col-md-3">
                <img src="/assets/images/cardvisa.png" style="height: 80px; width: 100px;">
            </div>
        </div>



          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder="Cardholder's Name"
            />
            <label for="floatingInput">Cardholder's Name</label>
          </div>
          
            <div class="row">
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="Expiration Date"
                  />
                  <label for="floatingInput">Expiration Date</label>
                </div>
              </div>
    
              <div class="col-md-6">
                
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="floatingPassword"
                  placeholder="CVV"
                />
                <label for="floatingPassword">CVV</label>
              </div>
    
              </div>
            </div>
          <div class="form-floating mb-3">
            <textarea
              class="form-control"
              id="floatingInput"
              style="height: 100px"
              placeholder="Message"
              rows="5"
            ></textarea>
            <label for="floatingInput">Message</label>
          </div>
          <div class="banner-btn">
            <a class="default-btn" href="https://goo.gl/HtFL2a">Submit</a>
          </div>
        </form></div>
      </div>
    </div>
  </div>
</div>
