<div class="slider-area">
  <div class="slider-wrapper">
    <div class="owl-stage-outer">
      <div class="single-slide">
        <div class="banner-content">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="text-content-wrapper">
                  <div class="text-content">
                    <h1>
                       Raise Your Voice 
                      <div>Don't Be Afraid.</div>
                    </h1>
                    <p>
I raise up my voice not so I can shout, but so that those without a voice can be heard... we cannot succeed when half of us are held back." - Malala Yousafzai                    </p>
                    <div class="banner-btn">
                      <a class="default-btn" routerLink="/contact"
                        >Join Us</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="owl-nav">
        <div class="owl-prev"><i class="fa fa-angle-left"></i></div>
        <div class="owl-next"><i class="fa fa-angle-right"></i></div>
      </div>
      <div class="owl-dots disabled"></div>
      <!-- </div> -->
    </div>
  </div>
</div>

<div class="help-area pt-120 pb-115 ptb-sm-60">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="hlp-img img-full">
          <img style="height: 400px;"
            src="https://media.istockphoto.com/id/629642412/photo/comforting-friend.webp?b=1&s=170667a&w=0&k=20&c=HFyUTQZgxd3j_dB1Fv0rHK68xyK1umBP69BavC74x9M="
            alt="help-img"
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="hlp-content">
          <h4>How Can You Help ?</h4>
          <strong>Lorem ipsum dolor sit amet.</strong>
          <p>
            I can contribute to gender equality by offering information and insights on topics such as women's rights, gender discrimination, gender biases, and empowerment
          </p>
          <p>
            Whether it's answering questions about gender-related issues, providing resources on gender equality initiatives, or assisting with the development of educational materials and awareness campaigns, I can help individuals and organizations better understand the challenges and opportunities associated with gender equality.
          </p>
          <p>
            By promoting awareness, offering solutions, and facilitating open discussions on these matters, I aim to support and inspire those who are working towards a more inclusive and equitable society for all genders..
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
            sint ullam quo voluptatem expedita facilis consequuntur, obcaecati
            amet, natus non possimus nostrum tempora porro sit accusamus ducimus
            similique necessitatibus at.
          </p>
          <div class="hlp-btn mt-20">
            <a routerLink="/donate" class="default-btn">Join Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="join-area bg-1 ptb-120 ptb-sm-60 mb-5">
  <div class="container text-center">
      <div class="row">
          <div class="col-lg-8 ms-auto">
              <div class="ht-join-text">
                  <h4>Urgent Causes</h4>
                  <h1>Helping Children In India</h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minima repellendus maxime dolorem laborum recusandae nulla vel ullam a rerum, officia, fugiat esse! Sunt, ipsam. Deleniti, facere. Deleniti, natus rerum.</p>
                  <div class="joning-btn">
                      <a routerLink="/donate" class="default-btn">DONATE NOW</a>
                      <a routerLink="/contact" class="default-btn btn-white">Join Us Now</a>
                  </div>
                  
              </div>
          </div>
      </div>
  </div>
</div>





<div class="team-area pt-115 pb-90 pt-sm-60 pb-sm-30">
  <div class="container">
    <div class="section-title text-center">
      <h1>Meet Our Volunteers</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiu</p>
    </div>
    <div class="row">
      <!-- Single Team Start -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
          <div class="team-img">
            <a href="team.html"
              ><img
                src="https://htmldemo.net/jibon/jibon/img/team/4.jpg"
                alt="volunteer-image"
            /></a>
            <div class="team-hover-link">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-vimeo"></i></a>
            </div>
          </div>
          <div class="team-text">
            <h5>Volunteers</h5>
            <h3>Stephanie Banks</h3>
          </div>
        </div>
      </div>
      <!-- Single Team Start -->
      <!-- Single Team Start -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
          <div class="team-img">
            <a href="team.html"
              ><img
                src="https://htmldemo.net/jibon/jibon/img/team/3.jpg"
                alt=""
            /></a>
            <div class="team-hover-link">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-vimeo"></i></a>
            </div>
          </div>
          <div class="team-text">
            <h5>Volunteers</h5>
            <h3>Stephanie Banks</h3>
          </div>
        </div>
      </div>
      <!-- Single Team Start -->

      <!-- Single Team Start -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
          <div class="team-img">
            <a href="team.html"
              ><img
                src="https://htmldemo.net/jibon/jibon/img/team/2.jpg"
                alt=""
            /></a>
            <div class="team-hover-link">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-vimeo"></i></a>
            </div>
          </div>
          <div class="team-text">
            <h5>Volunteers</h5>
            <h3>Stephanie Banks</h3>
          </div>
        </div>
      </div>
      <!-- Single Team Start -->

      <!-- Single Team Start -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
          <div class="team-img">
            <a href="team.html"
              ><img
                src="https://htmldemo.net/jibon/jibon/img/team/1.jpg"
                alt=""
            /></a>
            <div class="team-hover-link">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-vimeo"></i></a>
            </div>
          </div>
          <div class="team-text">
            <h5>Volunteers</h5>
            <h3>Stephanie Banks</h3>
          </div>
        </div>
      </div>
      <!-- Single Team Start -->
    </div>
  </div>
</div>
