<div class="slider-area">
  <div class="slider-wrapper">
    <div class="owl-stage-outer">
      <div class="single-slide">
        <div class="banner-content">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="text-content-wrapper">
                  <div class="text-content">
                    <h1>
                      Give a little
                      <div>Donation.</div>
                    </h1>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit
                      sed do eiusmod temp incididunt ut labore et dolore magna
                      aliqua.
                    </p>
                    <div class="banner-btn">
                      <a class="default-btn" href="https://goo.gl/HtFL2a"
                        >Donate now</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="owl-nav">
        <div class="owl-prev"><i class="fa fa-angle-left"></i></div>
        <div class="owl-next"><i class="fa fa-angle-right"></i></div>
      </div>
      <div class="owl-dots disabled"></div>
      <!-- </div> -->
    </div>
  </div>
</div>
