<div class="slider-area">
  <div class="slider-wrapper">
    <div class="owl-stage-outer">
      <div class="single-slide">
        <div class="banner-content">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="text-content-wrapper">
                  <div class="text-content">
                    <h1>
                      Give a little
                      <div>Donation.</div>
                    </h1>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit
                      sed do eiusmod temp incididunt ut labore et dolore magna
                      aliqua.
                    </p>
                    <div class="banner-btn">
                      <a class="default-btn" href="https://goo.gl/HtFL2a"
                        >Donate now</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="owl-nav">
        <div class="owl-prev"><i class="fa fa-angle-left"></i></div>
        <div class="owl-next"><i class="fa fa-angle-right"></i></div>
      </div>
      <div class="owl-dots disabled"></div>
      <!-- </div> -->
    </div>
  </div>
</div>

<div class="help-area pt-120 pb-115 ptb-sm-60">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="hlp-img img-full">
          <img
            src="https://htmldemo.net/jibon/jibon/img/bg/help.jpg"
            alt="help-img"
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="hlp-content">
          <h4>How Can You Help ?</h4>
          <strong>Lorem ipsum dolor sit amet.</strong>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
            sint ullam quo voluptatem expedita facilis consequuntur, obcaecati
            amet, natus non possimus nostrum tempora porro sit accusamus ducimus
            similique necessitatibus at.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
            sint ullam quo voluptatem expedita facilis consequuntur, obcaecati
            amet, natus non possimus nostrum tempora porro sit accusamus ducimus
            similique necessitatibus at.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
            sint ullam quo voluptatem expedita facilis consequuntur, obcaecati
            amet, natus non possimus nostrum tempora porro sit accusamus ducimus
            similique necessitatibus at.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
            sint ullam quo voluptatem expedita facilis consequuntur, obcaecati
            amet, natus non possimus nostrum tempora porro sit accusamus ducimus
            similique necessitatibus at.
          </p>
          <div class="hlp-btn mt-20">
            <a routerLink="/donate" class="default-btn">Donate</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
