<div class="wrapper">
  <h2>Registration</h2>
  <form [formGroup]="registerForm">
    <div class="input-box">
      <input
        type="text"
        [placeholder]="
          registerForm.get('name')?.hasError('required') &&
          registerForm.get('name')?.touched
            ? 'Name is required'
            : 'Enter Your Name'
        "
        formControlName="name"
        [class.validate-message]="
          registerForm.get('name')?.getError('required') &&
          registerForm.get('name')?.touched
        "
      />
    </div>
    <div class="input-box">
      <input
        type="text"
        [placeholder]="
          registerForm.get('email')?.hasError('required') &&
          registerForm.get('email')?.touched
            ? 'Email is required'
            : 'Enter Your Email'
        "
        formControlName="email"
        [class.validate-message]="
          registerForm.get('email')?.getError('required') &&
          registerForm.get('email')?.touched
        "
        required
      />
    </div>
    <div class="input-box">
      <input
        type="password"
        [placeholder]="
          registerForm.get('password')?.hasError('required') &&
          registerForm.get('password')?.touched
            ? 'Password is required'
            : 'Enter Your Password'
        "
        formControlName="password"
        [class.validate-message]="
          registerForm.get('password')?.getError('required') &&
          registerForm.get('password')?.touched
        "
        required
      />
    </div>
    <div class="input-box">
      <input
        type="password"
        [placeholder]="
          registerForm.get('reEnterPassword')?.hasError('required') &&
          registerForm.get('reEnterPassword')?.touched
            ? 'Password is required'
            : 'Confirm Password'
        "
        formControlName="reEnterPassword"
        [class.validate-message]="
          registerForm.get('reEnterPassword')?.getError('required') &&
          registerForm.get('reEnterPassword')?.touched
        "
        required
      />
    </div>
    <div class="policy">
      <input type="checkbox" />
      <h3>I accept all terms & condition</h3>
    </div>
    <div class="input-box button">
      <input type="Submit" value="Register Now" />
    </div>
    <div class="text">
      <h3>Already have an account? <a routerLink="/login">Login now</a></h3>
    </div>
  </form>
</div>
